In [1]:
## import librari

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [3]:
## load file

file_path = r"C:\Mini_H\belajar\hr-attrition-prediction\data\raw\WA_Fn-UseC_-HR-Employee-Attrition.csv"
df = pd.read_csv(file_path)

print("Ukuran data awal : ", df.shape)
df.head()

Ukuran data awal :  (1470, 35)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [ ]:
## drop kolom yang tidak perlu
drop_cols = [
    'EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours',
    'DailyRate', 'HourlyRate', 'MonthlyRate'
]
df.drop(columns=drop_cols, inplace=True)

print("\nKolom setelah drop:", df.shape[1])

Kolom setelah drop: 28

In [5]:
## Beri label untuk kolom attrition, overtime dan gender

df['Attrition'] = df['Attrition'].map({'Yes':1, 'No':0})
df['OverTime'] = df['OverTime'].map({'Yes':1, 'No':0})
df['Gender'] = df['Gender'].map({'Male':1, 'Female':0})

In [6]:
## Encode untuk yang lebih dari 2 kategori

cat_cols = ['BusinessTravel', 'Department', 'EducationField', 'JobRole', 'MaritalStatus']
le = LabelEncoder ()
for col in cat_cols:
    df[col] = le.fit_transform(df[col])

print("\nâœ… Encoding selesai.")
print(df[cat_cols + ['Attrition', 'OverTime', 'Gender']].head())

âœ… Encoding selesai.
   BusinessTravel  Department  EducationField  JobRole  MaritalStatus  \
0               2           2               1        7              2
1               1           1               1        6              1
2               2           1               4        2              2
3               1           1               1        6              1
4               2           1               3        2              1

   Attrition  OverTime  Gender
0          1         1       0
1          0         0       1
2          1         1       1
3          0         1       0
4          0         0       1

In [7]:
## cek kembali missing values

print("\n missing values setelah preprocessing:")
print(df.isnull().sum().sum())

 missing values setelah preprocessing:
0

In [8]:
## pisah train dan test

X = df.drop('Attrition', axis=1)
y = df['Attrition']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

print("\nðŸ“¦ Train set:", X_train.shape)
print("ðŸ“¦ Test set:", X_test.shape)
print("Distribusi Attrition di data train:")
print(y_train.value_counts(normalize=True) * 100)

ðŸ“¦ Train set: (1176, 27)
ðŸ“¦ Test set: (294, 27)
Distribusi Attrition di data train:
Attrition
0    83.843537
1    16.156463
Name: proportion, dtype: float64

In [9]:
# === 9. Simpan data hasil preprocessing ===
X_train['Attrition'] = y_train
X_test['Attrition'] = y_test

X_train.to_csv("../data/processed/train_data.csv", index=False)
X_test.to_csv("../data/processed/test_data.csv", index=False)

print("\nðŸ’¾ Data processed disimpan di folder data/processed/")

ðŸ’¾ Data processed disimpan di folder data/processed/